

@media (max-width: 425px){
    .navBar{
        flex-direction: column;
        justify-content: none;
        align-items:left;
        gap:1.25rem;
    }
    .globo-image{
        height: 300px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
        grid-template-areas:
                "caja1"
                "caja2"
                "caja3";
    }
}